@page
@model ValuationDiamond.RazorWebApp.Pages.OrderDetailsPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].DetailCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].EstimateLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ServiceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
