@page
@model ValuationDiamond.RazorWebApp.Pages.CustomerPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Cccd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Cccd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DoB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DoB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Avatar)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Customer.Avatar))
            {
                <img src="@Model.Customer.Avatar" alt="Avatar" style="width: 150px; height: 150px;" />
            }
            else
            {
                <span>No Avatar</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.CustomerId"><button type="button" class="btn btn-primary">Edit</button></a> |
    <a asp-page="./Index"><button type="button" class="btn btn-primary">Back to list</button></a>
</div>
